header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgb(22 22 23 / 80%);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /* font-family: 'DM Sans', sans-serif; */
}

nav li {
  margin-right: 4rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  /* font-weight: 500; */
}

nav a:hover {
  text-decoration: underline;
}

form input {
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: #fff;
  color: #1d1d1f;
  font-size: 1rem;
  width: 20rem;
}

form button {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  background-color: #0070c9;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.5rem;
  cursor: pointer;
}

form button:hover {
  background-color: #0055a5;
}

 svg {
  /* vertical-align: 100px; */
  width: 19px;
  height: 19px;

}
/* path {
  vertical-align: middle;
  /* line-height: 100px; 
} */

@font-face {
  font-family: "PeterMedium";
  src: url("./peter-medium.otf");
}
@font-face {
  font-family: 'DM Sans', sans-serif;
  src: url("https: //fonts.googleapis.com/css2?family=DM+Sans&display=swap");
}